@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
  background: #0a043c;
  font-family: 'Roboto', sans-serif;
}

.hero {
  height: 95vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about h1,
.work h1,
.hero h1,
.footer h1 {
  border-style: solid;
  border-width: 0;
  border-left-width: 0.1px;
  border-bottom-width: 0.1px;
  width: 100%;
  padding-left: 10px;
  border-image: linear-gradient(#03506f, #bbbbbb, #ffe3d8) 1;
  text-shadow: 2px 2px #03506f;
}

.about,
.work,
.footer {
  padding-top: 10%;
  height: 100vh;
}

.card {
  background: #0a043c;
  /* box-shadow: 2px 2px #03506f; */
  box-shadow: 0 0.125rem 1rem #bbbbbb;
  /* margin: 3% auto; */
}
.flush {
  background: #0a043c;
  color: olive;
}
ul {
  background: #0a043c;
}

.contact-number:hover {
  background: #0a043c;
}

@media screen and (max-width: 768px) {
  img {
    visibility: hidden;
    position: absolute;
  }
}
