@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); */

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(161, 161, 163);
}

.container {
  position: relative;
}

.hero-section h6 {
  margin: 15px 0;
}
.hero-section h1 {
  color: #fff;
  margin: 15px 0;
  font-size: 70px;
  font-weight: bolder;
}
.hero-section h3 {
  margin: 15px 0;
  font-size: 65px;
  font-weight: bolder;
}
.hero-section p {
  margin: 15px 0;
}
.hero-section button {
  margin: 15px 0;
}

.about-section {
  font-family: 'Roboto', sans-serif;
}
.about-section .fa {
  color: #df691a;
}
.about-section img {
  width: 70%;
  height: auto;
  border-radius: 20px;
  transition: transform 1.5s ease-in-out;
}
.about-section:hover img:hover {
  transform: scale(1.2);
  filter: hue-rotate(180deg);
  -webkit-filter: hue-rotate(180deg);
}

.navbar-primary .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: '';
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-primary .navbar-toggler {
  color: transparent;
  border-color: #df691a;
}

.navbar-primary {
  background-color: #2b3e50;
}

.navbar-brand img {
  background-color: #ffffff;
  border-radius: 50%;
}

.footer-section .footer-title {
  color: #fff;
  /* font-size: 50px; */
  font-weight: bolder;
}
.footer-section .footer-icon {
  font-size: 30px;
}

.sticky-contact-left {
  position: fixed;
  top: 45%;
  left: -22px;
  transform: rotate(90deg);
  letter-spacing: 2px;
  opacity: 0.6;
}
.sticky-contact-left::after {
  content: '';
  background: #df691a;
  height: 1px;
  width: 120px;
  position: absolute;
  left: 100px;
  top: 12px;
  transform: translateY(-50%);
}

.sticky-contact-right {
  position: fixed;
  top: 45%;
  right: -70px;
  transform: rotate(90deg);
  letter-spacing: 2px;
  opacity: 0.6;
}
.sticky-contact-right::after {
  content: '';
  background: #df691a;
  height: 1px;
  width: 120px;
  position: absolute;
  left: 207px;
  top: 12px;
  transform: translateY(-50%);
}

.sticky-contact-right a:hover {
  text-decoration: none;
}

.sticky-contact-left .fab {
  font-size: larger;
}
.work-section a {
  text-decoration: none;
}

.work-section .work-icons {
  font-size: 15px;
}
.work-section .fab:hover,
.fa:hover,
.fas:hover {
  color: rgb(128, 125, 125);
}

.work-section .card p {
  font-size: medium;
}
.work-section .card {
  border-radius: 0 20px 20px 20px;
}
.work-section img {
  border-radius: 0 20px 20px 20px;
}

@media only screen and (max-width: 780px) {
  .hero-section h1 {
    color: #fff;
    margin: 15px 0;
    font-size: 50px;
    font-weight: bolder;
  }
  .hero-section h3 {
    margin: 15px 0;
    font-size: 45px;
    font-weight: bolder;
  }
}
